
  body{
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
  }

  .font2{
    font-family: 'Bree Serif', sans-serif;
  }

  .fa, .glyphicon{
    margin-right: 5px;
  }

  .loading-indicator{
    height: 150px;
    position: relative;

    .icon{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin-top: -20px;
      margin-left: -20px;
    }
  }

  #container{
    margin: auto;
    width: 1000px;
  }

  @media (max-width: 1000px) {
    #container{
      width: auto;
    }
  }

  #header{
    margin-bottom: 25px;
  }

  #randomBeerSectionHolder{
    padding: 15px;
    border: #e5e5e5 solid 1px;
    border-radius: 4px;

    .thumb{
      display: inline-block;
    }

    .name{
      margin-top: 0;
      @extend .font2;
    }

    .description{
      margin: 25px 0;
      min-height: 50px;
    }
  }

  #moreBeerByBreweryModal{
    height: 500px;
    overflow: auto;

    .beer{
      img{
        margin: auto;
        height: 120px;
      }

      .name{
        @extend .font2;
        text-align: center;
      }

      .description{
        height: 50px;
      }
    }
  }

  #searchSectionHolder{
    margin-top: 50px;

    #searchForm{
      margin-bottom: 25px;

      .form-group{
        margin-right: 20px;
      }
    }

    #resultsHolder{
      .form-group{
        margin-top: -10px;
      }
    }

    #breweryResults .result{
      .thumb{
        margin: 10px 0;
        display: inline-block;
      }

      .name{
        margin-top: 0;
        @extend .font2;
      }

      .verificationMark{
        margin: 0 0 0 5px;
        font-size: 14pt;
        color: #4dc962;
      }

      .description{
        margin-top: 20px;
      }
    }

    #beerResults .result{
      .thumb{
        margin: 10px 0;
        display: inline-block;
      }

      .name{
        margin-top: 0;
        @extend .font2;
      }

      .verificationMark{
        margin: 0 0 0 5px;
        font-size: 14pt;
        color: #4dc962;
      }

      .description{
        margin-top: 20px;
      }
    }
  }