
    <ul ng-if="data && data.numberOfPages > 1" class="pagination">
            <li ng-if="data.currentPage != 1">
            <a href="" ng-click="loader(1)">First</a></li>

        <li ng-if="data.currentPage != 1">
            <a href="" ng-click="loader(data.currentPage-1)">Prev</a></li>

        <li ng-repeat="page in range" ng-class="{active : data.currentPage == page}">
            <a href="" ng-click="loader(page)">{{ page }}</a>
        </li>

        <li ng-if="data.currentPage != data.numberOfPages">
            <a href="" ng-click="loader(data.currentPage+1)">Next</a>
        </li>

        <li ng-if="data.currentPage != data.numberOfPages">
            <a href="" ng-click="loader(data.numberOfPages)">Last</a>
        </li>
    </ul>